@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
}
.imgContainer {
  animation: move 2s ease-out alternate infinite;
}
@keyframes move {
  from {
    transform: translateY(4ch);
  }
  to {
    transform: translateY(-4ch);
  }
}
.img {
  object-fit: contain;
}
.cImgContainer {
  animation: change 1s ease-in alternate infinite;
}

@keyframes change {
  from {
    scale: 0.95;
  }
  to {
    scale: 1;
  }
}
